.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: white;
    z-index: 2;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .carousel-caption {
        width: 100%;
    }
}


.card {
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beranda-footer {
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

.link-footer {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 2px;
    text-decoration: underline;
}

.link-footer:hover {
    text-decoration: none;
}

#btn-scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}