.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.responsive-iframe {
    position: relative;
    padding-bottom: 56.25%; /* Rasio aspek 16:9 */
    height: 0;
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #dba90f;
}

.beranda-footer {
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

.link-footer {
    color: #000;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 2px;
    text-decoration: none;
}

.link-footer:hover {
    text-decoration: underline;
}

#btn-scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
