body.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}

.jumbotron-overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.jumbotron-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.jumbotron {
    background-image: url('/assets/img/wallpaper.png');
    background-size: cover;
    color: #ffffff;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}